/* Reset CSS. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 
        TRÈS utile pour débugger.
        Je vous encourage à décommenter cette ligne et à voir de vous même.
    */
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    display: block;
}

/* </ Reset CSS. */

/* Styles généraux. */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Avenir", "Lato", "Segoe UI", sans-serif;
    color: #292929;
    overflow-x: hidden;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    line-height: 2;
}

/* </ Styles généraux. */

/* Components. */

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    [class^="col"] {
        grid-column: span 12;
    }
    .col-sm {
        grid-column: span 6;
    }
    @media screen and (min-width: 768px) {
        .col-middle {
            grid-column: span 6
        }
    }
    @media screen and (min-width: 1280px) {
        grid-gap: 4rem;
        .col-2 {
            grid-column: span 2
        }
        .col-4 {
            grid-column: span 4
        }
        .col-6 {
            grid-column: span 6
        }
        .col-8 {
            grid-column: span 8
        }
    }
}

.wrapper {
    padding: 0 2rem;
    @media screen and (min-width: 768px) {
        padding: 0 5rem;
    }
    @media screen and (min-width: 1280px) {
        padding: 0 20rem;
    }
}

a {
    &.button {
        /* Composant des liens. */
        /* Contient trois variantes : button, button reverse, cta, arrow */
        border-radius: .5rem;
        padding: 1.25rem 2rem;
        color: #4896f0;
        font-weight: 700;
        border: 1px solid #4896f0;
        &.reverse {
            background: #4896f0;
            color: white;
            &.arrow {
                &::after {
                    background: url('../resources/arrow.svg') no-repeat;
                }
            }
        }
    }
    &.cta {
        color: #4896f0;
        font-weight: 700;
        &.arrow {
            &::after {
                background: url('../resources/arrow-blue.svg') no-repeat;
            }
        }
    }
    &.arrow {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: "";
            display: inline-block;
            height: 2rem;
            width: 2rem;
            background: url('../resources/arrow-blue.svg') no-repeat;
            background-size: contain;
            margin-left: 1rem;
        }
    }
}

/* </ Components. */

/* Nav. */

nav {
    /* Pour faire tenir la nav sur le haut de la page, utilisez sticky. */
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    height: 10rem;
    width: 100%;
    z-index: 100;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    box-shadow: 0 4px 20px rgba(16, 19, 20, .04);
    border-bottom: 1px solid #edf1f5;
    @media screen and (min-width: 1280px) {
        padding: 0 10rem;
    }
    width: 100%;
    img {
        height: 30%;
        width: auto;
        object-fit: contain;
    }
    ul {
        display: none;
        @media screen and (min-width: 1280px) {
            display: flex;
            li {
                margin: 0 2rem;
            }
            &:last-child {
                li:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

/* </ Nav. */

/* Header. */

header {
    display: flex;
    padding: 8rem 0;
    .content {
        h1 {
            font-size: 3.5rem;
            margin-bottom: 4rem;
        }
        div {
            margin: 4rem 0;
            a {
                margin-right: 2rem;
            }
        }
        @media screen and (min-width: 1280px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                width: 70%;
            }
        }
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

/* </ Header. */

/* Main. */

main {
    margin: 8rem 0;
    section {
        padding: 8rem 0;
    }
    .features {
        border-bottom: 1px solid #edf1f5;
        article {
            margin-bottom: 6rem;
            img {
                height: 6rem;
                width: 6rem;
                object-fit: contain;
                margin-bottom: 4rem;
            }
            h3 {
                margin-bottom: 2rem;
            }
            p {
                width: 100%;
            }
        }
        a {
            margin-top: 6rem;
            margin-bottom: 8rem;
            display: block;
            text-align: center;
        }
    }
    .payments {
        img {
            height: 100%;
            margin: 0 auto;
        }
        h2 {
            font-size: 3rem;
            margin-bottom: 4rem;
        }
        p {
            margin-bottom: 4rem;
        }
        @media screen and(min-width: 1280px) {
            .col-6:last-child {
                display: flex;
                justify-content: center;
                flex-direction: column;
                a {
                    display: block;
                }
            }
        }
        ul {
            margin-bottom: 4rem;
            li {
                margin: 1.5rem 0;
                &::before {
                    content: "";
                    display: inline-block;
                    padding-right: 1.5rem;
                    height: 1rem;
                    width: 1rem;
                    background: url('../resources/tick.svg') no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    .demo {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1280px) {
            .col-4 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .title {
            display: flex;
            flex-direction: column;
            h3 {
                order: -1;
                margin-bottom: 1rem;
            }
            h2 {
                margin-bottom: 4rem;
            }
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                margin-right: 2rem;
                opacity: .3;
            }
            @media screen and (min-width: 1280px) {
                flex-direction: column;
                li {
                    opacity: 1;
                    margin: 1rem 0;
                    padding-left: 1rem;
                    border-left: 3px solid #edf1f5;
                    &.active {
                        a {
                            color: #4896f0;
                        }
                        border-color: #4896f0;
                    }
                }
            }
        }
        img {
            position: relative;
            right: -2rem;
            @media screen and (min-width: 768px) {
                right: -5rem;
            }
            @media screen and (min-width: 1280px) {
                right: -20rem;
            }
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .developer {
        .wrapper {
            @media screen and(min-width: 1280px) {
                position: relative;
                &::before {
                    background: #f5f6f7;
                    height: 100%;
                    width: calc(100% - 40rem);
                    margin: 0 auto;
                    display: block;
                    content: "";
                    position: absolute;
                    left: 20rem;
                    z-index: -1;
                }
            }
        }
        img {
            height: 100%;
            max-height: 40rem;
            @media screen and (max-width: 1279px) {
                margin: 0 auto;
            }
            object-fit: contain;
        }
        h2 {
            text-align: center;
            margin-bottom: 4rem;
        }
        p {
            text-align: center;
            margin-bottom: 4rem;
        }
        a {
            text-align: center;
            justify-content: center;
            margin: 0 auto;
        }
        .col-6 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (min-width: 1280px) {
                &:last-child {
                    align-items: flex-start;
                    a {
                        margin: 0;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}

/* </ Main. */

/* Footer. */

footer {
    padding: 4rem 0 0;
    background: #1d2229;
    color: white;
    a {
        color: white;
        &.button {
            color: white;
            border: 1px solid white;
            &.reverse {
                border: 1px solid #4896f0;
            }
        }
    }
    .get-started {
        border-bottom: 1px solid rgb(35, 39, 46);
        margin-bottom: 4rem;
        h2 {
            margin-bottom: 2rem;
        }
        .col-6:last-child {
            display: flex;
            a {
                &.arrow {
                    &::after {
                        background: url('../resources/arrow.svg') no-repeat;
                    }
                }
                margin-right: 2rem;
            }
        }
        @media screen and (min-width: 1280px) {
            padding: 8rem 0;
            .col-6:last-child {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;
                a {
                    margin-right: 0;
                    margin-left: 2rem;
                }
            }
        }
    }
    .footer {
        .grid {
            grid-template-columns: repeat(10, 1fr);
        }
        @media screen and (min-width: 1280px) {
            padding: 8rem 0;
        }
        h3 {
            margin-bottom: 2rem;
        }
        ul {
            li {
                margin-bottom: .5rem;
            }
        }
        p {
            opacity: .5;
            margin-top: 8rem;
            padding-bottom: 4rem;
            @media screen and (min-width: 1280px) {
                text-align: center;
            }
        }
    }
}

/* </ Footer. */